## Ignorando todos os arquivos de photoshop
*.psd

## Ignorando arquivos de cache + pasta vscode
_main/__pycache__/*
_main/.vscode/*

## Ignorando outro executável
arquivos/outras-versoes/_outros/Testes/*

## Ignorando outras versões da documentação
arquivos/_documentacao/_caso-de-uso/_outros/*
arquivos/_documentacao/_cenário-de-negócio/_outros/*
arquivos/_documentacao/_diagrama-de-classe/_outros/*
arquivos/_documentacao/_tutorial_outros/*
arquivos/_documentacao/_vídeo/_edição/*